/* For the modal */
#overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 995;
    background: rgba(0, 0, 0, 0.5);
}

#sheet {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 990;
}

#sheet_content {
    z-index: 999;
    position: absolute;
}

/* CSS for the sheet itself */