* {
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: 'Perry Gothic';
    src: url('./assets/fonts/PERRYGOT.TTF');
}

@font-face {
    font-family: 'Carta Magna';
    src: url('./assets/fonts/Carta_Magna-line-demo-FFP.ttf');
}
/* This style sheet is organized in categories. Each id, class, etc. are placed in order
from top to bottom. */

/* App - format for entire thing */
#app {
    background-image: url("./assets/images/scroll_image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* Global element styles */
h1 {
    font-family: 'Perry Gothic';
}

button {
    font-family: 'Carta Magna';
    font-size: 12pt;
    background-color:#CA9B49;
    border: none;
    width: 10%;
}

button:hover {
    color: gray;
}

/* Div class styles */
.inputSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.race_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Perry Gothic';
}

.race {
    height: 50%;
}

/* Div id styles */
#page_title {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    height: 15vh;
}

#ability_inputs {
    display: flex;
    flex-direction: column;
}

#race_images {
    display: flex;
}

